# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage & testing
lib-cov
coverage
*.lcov
.nyc_output

# Build tools & caches
.grunt
.cache
.parcel-cache
.eslintcache
.stylelintcache
.node_repl_history

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Package managers
.npm
.pnpm-store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.pnp.*

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Framework builds
.next
out
.nuxt
dist
.output
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Serverless / cloud
.serverless/
.firebase/
.dynamodb/

# Misc tools
.fusebox/
.tern-port
.vscode-test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# Build output / binaries
build/Release
*.com
*.class
*.dll
*.exe
*.o
*.so

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Databases
*.sql
*.sqlite

# Project-specific
lab-corrections/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

